* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 1, 79);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5, 5, 51);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(81, 81, 183);
    font-size: 1.05rem;
}

main hr {
    border: 0px;
    background: rgb(70, 6, 131);
    height: 2px;
    margin: 50px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 31%;
}

.leftSection {
    font-size: 3rem;
}

.leftSection .button {
    padding: 50px 0;
}

.leftSection .btn1 {
    padding: 12px;
    background-color: #6d006d;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .btn2 {
    padding: 12px;
    background-color: #6d006d;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.rightSection img {
    width: 330px;
    border-radius: 30%;
}

.purple {
    color: rgb(173, 120, 222);
}

#element {
    color: rgb(173, 120, 222);
}

.text-work {
    color: rgb(173, 120, 222);
}

.secondSection {
    max-width: 66vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 2rem;
}

.secondSection .box1 {
    background: white;
    width: 65vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.i1 {
    width: 37px;
    position: relative;
    top: -40px;
    left: -15px;
}

.ver-text {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 15px;
}

.ver-text1 {
    position: relative;
    top: 86px;
    color: rgb(225, 118, 118);
    font-size: 12px;
}

footer {
    background-color: #050533;

}

.flex {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.flex ul {
    list-style: none;
    cursor: pointer;
}

.flex>div {
    width: 223px;
}

footer .rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}